h1 {
  font-family: 'Oswald', sans-serif; }

p, h2 {
  font-family: 'Open Sans', sans-serif; }

body {
  background-color: #373A3B; }

#workspace {
  background-color: #434C51; }

#headerbox {
  background-color: #434C51; }
  #headerbox .jumbotron {
    background-color: #434C51;
    padding: 10px; }
  #headerbox h1, #headerbox p {
    color: white;
    text-shadow: 0px 2px #000000; }
  #headerbox p {
    text-decoration: underline; }

#chordWorkspace {
  border-style: solid;
  border-width: 2px;
  margin-top: 1%;
  margin-bottom: 1%; }
  #chordWorkspace .chordContainer {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white; }
